.background{
background-color:#2f3dd0;
background: fixed;
}

.Task {
font-style: oblique;
color: black;

}

.WorkNotes {
font-style: oblique;
color: black;

}


.TeamMember{
font-style: oblique;
color: black;

}