



    
  table {
    border: 2px solid;
    width: 100;
    word-wrap: break-word;
    
   
  
  
   
  }
    
  th {
    color: #070dcf;
    width: 4.5rem;
    border: 1px solid black;
  }
    
  td {
    text-align: center;
    border: 1px solid black;
  }